*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

ul,
li {
  list-style-type: none;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("assets/fonts/Roboto/static/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("assets/fonts/Roboto/static/Roboto-Regular.ttf");
}

#main {
  font-family: "Roboto-Bold", sans-serif;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
}

header {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  grid-column: 2;

  display: grid;
  grid-template-rows: repeat(2, 1fr);

  padding: 0px 5rem;
}

#search-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#search-box {
  display: flex;
  align-items: center;
  gap: 15px;
}

#search-box > input {
  border: none;
  background-color: rgb(222, 240, 255);
  border-radius: 20px;
  padding: 0px 10px;
  height: 2rem;
  width: 800px;
}

.magnify-svg,
.bell-svg {
  width: 25px;
}

#header-user-box {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-right: 20px;
}

#header-user-box > .bot-03 {
  width: 45px;
}

#user-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#user-box {
  display: flex;
  gap: 20px;
}

.bot-03 {
  width: 80px;
  border-radius: 50%;
}

#user-nickname {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nickname {
  font-size: 1.5em;
}

#user-buttons {
  display: flex;
  gap: 30px;
}

.user-btn {
  width: 110px;
  height: 40px;
  background-color: rgb(27, 126, 226);
  color: white;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#hero {
  background-color: aliceblue;
}

#sidebar {
  padding: 1rem;
  background-color: dodgerblue;
  color: white;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sidebar-nav-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dashboard,
.sidebar-nav-element {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sidebar-nav-element {
  margin-left: 12px;
}

.dashboard-svg {
  color: white;
  width: 3em;
}

.sidebar-nav-element > svg {
  color: white;
  width: 1.5em;
}

#hero {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 20px;
  padding: 30px;
  padding-top: 40px;
}

.projects-block,
.announcements-block,
.trending-block {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  gap: 8px;
}

.block-title {
  font-size: 1.2em;
  padding: 0px 2px;
}

.projects-grid {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  gap: 20px;
}

.project-box {
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  border-left: 10px solid rgb(255, 196, 0);
  padding: 30px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.project-description {
  font-family: "Roboto-Regular", sans-serif;
  color: rgb(107, 107, 107);
}

.project-buttons {
  position: absolute;
  right: 30px;
  bottom: 30px;

  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.project-buttons > svg {
  width: 23px;
}

.additional-content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
}

.additional-content-box-1 {
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 30px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.announcement-box {
  display: flex;
  flex-direction: column;

  padding-bottom: 10px;
  border-bottom: 1px solid rgb(192, 192, 192);
}

.announcement-box:last-child {
  border: none;
}

.announcement-title {
  font-size: 0.9em;
}

.announcement-description {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 0.8em;
  color: rgb(107, 107, 107);
}

.additional-content-box-2 {
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 25px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.trending-box {
  display: flex;
  gap: 15px;
}

.trending-box > img {
  width: 50px;
  border-radius: 50%;
}

.trending-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: "Roboto-Regular", sans-serif;
}

.user-project {
  color: rgb(107, 107, 107);
}
